CONFIG_TARGET_octeon=y
CONFIG_TARGET_octeon_generic=y
CONFIG_TARGET_octeon_generic_DEVICE_cisco_rv220w=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_GZIP=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=n
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_PACKAGE_kmod-loop=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-overlayfs=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_ubus=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_tcpdump-mini=y
CONFIG_PACKAGE_kmod-dsa-b53=y
CONFIG_PACKAGE_kmod-dsa-b53-mdio=y
CONFIG_PACKAGE_kmod-mdio-netlink=y
CONFIG_PACKAGE_mdio-tools=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
# CONFIG_PACKAGE_kmod-usb-dwc3-octeon is not set
# CONFIG_PACKAGE_luci is not set
CONFIG_TARGET_PREINIT_IP="192.168.240.2"
CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
CONFIG_TARGET_PREINIT_BROADCAST="192.168.240.255"
